@use '../helpers' as *;

.email {
    padding-block: rem(70);
    background: red url('../../images/background-Myimage.png') center/cover no-repeat;

    &__inner {
        @include flex-center;

        &-wrapper {
            width: 100%;
            max-width: rem(764);
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: rem(48);
            padding: rem(48);
            border-radius: rem(16);
            background-color: var(--color-light);

            @include mobile-s {
                padding-inline: rem(5);
            }
        }
    }

    &__title {
        text-align: center;

        @include mobile-s {
            width: 100%;
        }
    }

    &__button-wrapper {
        @include mobile-s {
            padding-inline: rem(16);
        }
    }

}