@use '../helpers' as *;

.email {
    @include flex-center;
    padding: rem(70) rem(10);
    background: url('../../images/background-Myimage.png') center/cover no-repeat;

    &__inner {
        width: rem(764);
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(48);
        padding: rem(48);
        border-radius: rem(16);
        background-color: var(--color-light);
    }

}