@use '../helpers' as *;

.experience {
    width: rem(537);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: rem(44);

    &__list {
        width: rem(504);
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(24);
    }

    &__item {
        &:not(:last-child) {
            border-bottom: rem(1) solid var(--color-grey-dark-light);
        }
    }

    &__card {
        width: 100%;
        height: rem(100);
        display: flex;
        align-items: start;
        justify-content: start;
        column-gap: rem(16);

        &-date {
            &-wrapper {
                width: rem(152);
                height: rem(30);
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            row-gap: rem(8);
        }

        &-post {
            font-weight: 600;
        }
    }
}