@use '../helpers' as *;

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: rem(36);

    @include mobile-s {
        padding-inline: rem(16);
    }

    &__wrapper-for-inputs {
        width: 100%;
        display: flex;
        row-gap: rem(24);
        column-gap: rem(20);

        @include tablet {
            flex-direction: column;
        }
    }

    &__input {
        width: 100%;
        height: var(--input-base-height);
        padding: var(--input-base-padding);
        outline-color: var(--color-lavender);
        border-radius: rem(16);
        border: rem(1) solid var(--color-grey-dark-light);

        &-before {
            position: relative;
            &::before {
                @include square(rem(24));
                content: '';
                position: absolute;
                top: rem(15);
                left: rem(20);
                background: url('../../icons/profile.svg') center/cover no-repeat;
            }
        }

        &-after {
            position: relative;
            &::before {
                @include square(rem(24));
                content: '';
                position: absolute;
                top: rem(15);
                left: rem(20);
                background: url('../../icons/email.svg') center/cover no-repeat;
            }
        }

        @include mobile {
            &::placeholder {
                font-size: rem(14);
            }
        }

        &-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: rem(8);
        }

    }

    &__wrapper-for-textarea {
        display: flex;
        flex-direction: column;
        row-gap: rem(8);
    }

    &__textarea {
        width: 100%;
        height: var(--textarea-base-height);
        padding: var(--textarea-base-padding);
        resize: none;
        outline-color: var(--color-lavender);
        border-radius: rem(16);
        border: rem(1) solid var(--color-grey-dark-light);

        @include mobile {
            &::placeholder {
                font-size: rem(14);
            }
        }
    }
}