@use '../helpers' as *;

.header {
    border-bottom: rem(1) solid var(--color-grey-dark-light);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: rem(15);
    }

    &__icon-wrapper {
        @include flex-center;
    }

    &__icon {
        color: var(--color-black);
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(24);
    }

    &__item {
        display: flex;
        height: rem(24);
        background-color: transparent;
    }

    &__link {
        color: var(--color-dark);
        height: 100%;

        &.is-active {
            color: var(--color-lavender);
            cursor: default;
        }

        @include hover {
            color: var(--color-lavender);
        }
    }

    &__burger-button {
        @include flex-center;
        flex-direction: column;
        row-gap: rem(5);
        width: rem(32);
        height: rem(32);
        background-color: transparent;

        & span {
            width: rem(23);
            height: rem(3);
            border-radius: rem(2);
            background-color: var(--color-black);
        }
    }
}