@use '../helpers' as *;

.header {
    border-bottom: rem(1) solid var(--color-grey-dark-light);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: rem(15);
    }

    &__icon-wrapper {
        @include flex-center;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(24);
    }

    &__item {
        display: flex;
        height: rem(24);
        background-color: transparent;
    }

    &__link {
        color: var(--color-dark);
        height: 100%;

        &.is-active {
            color: var(--color-lavender);
            cursor: default;
        }

        @include hover {
            color: var(--color-lavender);
        }
    }
}