@charset "UTF-8";
body {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  font-family: var(--font-family-base);
  color: var(--color-dark);
  font-weight: 400;
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg {
  border: 0;
  margin: 0;
  padding: 0;
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

h1, .h1 {
  font-size: clamp(1.5rem, 0.9264705882rem + 2.3529411765vw, 3.75rem);
}

h2, .h2 {
  font-size: clamp(1.25rem, 1.0588235294rem + 0.7843137255vw, 2rem);
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.1862745098rem + 0.2614379085vw, 1.5rem);
}

:root {
  --font-family-base: "Montserrat", sans-serif;
  --color-black: #27272A;
  --color-grey-dark: #696969;
  --color-grey-dark-light: #E5E7EB;
  --color-light: #FCFBFA;
  --color-lavender: #7E3AF2;
  --color-lavender-red: #E02424;
  --container-desktop-margin: 5.3125rem;
  --container-tablet-margin: 2.4375rem;
  --container-mobile-margin: 0.9375rem;
  --button-hover-color: #6C2BD9;
  --button-border-radius: 3.125rem;
  --button-base-width: 11.75rem;
  --button-base-height: 3.125rem;
  --button-base-padding: 0.8125rem 1.5625rem;
  --button-mobile-width: 8.6875rem;
  --button-mobile-height: 2.4375rem;
  --button-mobile-padding: 0.5625rem 0.8125rem;
  --input-base-width: 20.25rem;
  --input-base-height: 3.4375rem;
  --input-base-padding: 0.8125rem 1.25rem 0.8125rem 3.375rem;
  --textarea-base-width: 41.75rem;
  --textarea-base-height: 10.125rem;
  --textarea-base-padding: 0.8125rem 1.25rem;
  --transition-duration: 0.2s;
}

.container {
  --tempValueForMargin: var(--container-desktop-margin);
  width: calc(100% - var(--tempValueForMargin) * 2);
  margin-inline: auto;
}
@media (width <= 63.99875rem) {
  .container {
    --tempValueForMargin: var(--container-tablet-margin);
  }
}
@media (width <= 47.99875rem) {
  .container {
    --tempValueForMargin: var(--container-mobile-margin);
  }
}

@media (width > 29.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 29.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.button {
  --tempValueForBorderSize: rem(3);
  color: var(--color-light);
  font-size: 1rem;
  display: flex;
  align-items: center;
  align-self: start;
  column-gap: 0.75rem;
  width: calc(var(--button-base-width) + var(--tempValueForBorderSize) * 2);
  height: calc(var(--button-base-height) + var(--tempValueForBorderSize) * 2);
  padding: var(--button-base-padding);
  border: var(--tempValueForBorderSize) solid red;
  border-radius: var(--button-border-radius);
  background-color: var(--color-lavender);
}
@media (width <= 47.99875rem) {
  .button {
    --tempValueForBorderSize: rem(2);
    font-size: 0.875rem;
    width: calc(var(--button-mobile-width) + var(--tempValueForBorderSize) * 2);
    height: calc(var(--button-mobile-height) + var(--tempValueForBorderSize) * 2);
    padding: var(--button-mobile-padding);
  }
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--button-hover-color);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--button-hover-color);
  }
}
.button:active {
  border-color: #CABFFD;
}
.button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__icon svg {
  stroke: var(--color-lavender);
}

.header {
  border-bottom: 0.0625rem solid var(--color-grey-dark-light);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.9375rem;
}
.header__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon {
  color: var(--color-black);
}
.header__list {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.header__item {
  display: flex;
  height: 1.5rem;
  background-color: transparent;
}
.header__link {
  color: var(--color-dark);
  height: 100%;
}
.header__link.is-active {
  color: var(--color-lavender);
  cursor: default;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: var(--color-lavender);
  }
}
@media (any-hover: none) {
  .header__link:active {
    color: var(--color-lavender);
  }
}
.header__burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.3125rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
.header__burger-button span {
  width: 1.4375rem;
  height: 0.1875rem;
  border-radius: 0.125rem;
  background-color: var(--color-black);
}

.welcome {
  position: relative;
  z-index: 100;
  min-height: 48rem;
  padding-block: 10.125rem 10.375rem;
  overflow: hidden;
}
@media (width <= 89.99875rem) {
  .welcome {
    padding-block: 6.875rem 6.5625rem;
    min-height: 35.5rem;
  }
}
@media (width <= 47.99875rem) {
  .welcome {
    padding-block: 2.75rem 3.125rem;
    min-height: 28.125rem;
  }
}
@media (width <= 29.99875rem) {
  .welcome {
    min-height: 31.25rem;
  }
}
.welcome__inner {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}
@media (width <= 63.99875rem) {
  .welcome__inner {
    row-gap: 2.25rem;
  }
}
@media (width <= 29.99875rem) {
  .welcome__inner {
    row-gap: 1.6875rem;
  }
}
.welcome__title-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-bottom: 2rem;
}
@media (width <= 63.99875rem) {
  .welcome__title-wrapper {
    margin-bottom: 0;
  }
}
@media (width <= 29.99875rem) {
  .welcome__title-wrapper {
    margin-bottom: 0.625rem;
  }
}
.welcome__title-name {
  line-height: 1.5;
  font-weight: 900;
}
.welcome__title-post {
  color: var(--color-grey-dark);
  line-height: 1.5;
}
.welcome__description-wrapper {
  width: 100%;
  max-width: 27.8125rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (width <= 89.99875rem) {
  .welcome__description-wrapper {
    max-width: 25rem;
  }
}
@media (width <= 63.99875rem) {
  .welcome__description-wrapper {
    margin-bottom: 0.5rem;
  }
}
@media (width <= 47.99875rem) {
  .welcome__description-wrapper {
    max-width: 18.75rem;
  }
}
@media (width <= 29.99875rem) {
  .welcome__description-wrapper {
    margin-bottom: 0;
  }
}
.welcome__description-line {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: var(--color-lavender);
}
.welcome__description-text {
  color: var(--color-grey-dark);
  line-height: 1.5;
}
.welcome__background-image-filling {
  position: absolute;
  z-index: -2;
  top: 100%;
  left: 100%;
  translate: -76% -69%;
  width: 66.25rem;
  height: auto;
  rotate: -45deg;
  border-radius: 6.25rem;
}
@media (width <= 89.99875rem) {
  .welcome__background-image-filling {
    width: 50rem;
    translate: -81% -70%;
  }
}
@media (width <= 63.99875rem) {
  .welcome__background-image-filling {
    translate: -70% -70%;
  }
}
@media (width <= 47.99875rem) {
  .welcome__background-image-filling {
    width: 37.5rem;
    translate: -65% -70%;
  }
}
@media (width <= 29.99875rem) {
  .welcome__background-image-filling {
    width: 110%;
    max-width: 25rem;
    translate: -65% -70%;
    border-radius: 3.125rem;
  }
}
.welcome__background-image-man {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 100%;
  translate: -120% -96%;
  width: 31.25rem;
  height: auto;
  background-color: transparent;
}
@media (width <= 89.99875rem) {
  .welcome__background-image-man {
    width: 25rem;
  }
}
@media (width <= 63.99875rem) {
  .welcome__background-image-man {
    translate: -100% -96%;
  }
}
@media (width <= 47.99875rem) {
  .welcome__background-image-man {
    width: 50%;
    max-width: 20rem;
    translate: -88% -96%;
  }
}
@media (width <= 29.99875rem) {
  .welcome__background-image-man {
    width: 55%;
    max-width: 13.125rem;
    translate: -88% -96%;
  }
}

.about-me {
  padding-block: 6.25rem;
}
.about-me__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5rem;
}
.about-me__post-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.about-me__post-image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 90%;
}
.about-me__post-image-wrapper {
  width: 25.75rem;
  height: 25.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: red;
  background-image: url("../../images/background-Myimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-me__post-image-wrapper-second {
  width: 22.75rem;
  height: 22.75rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-grey-dark-light);
}
@media (width <= 89.99875rem) {
  .about-me__post-image-wrapper-second {
    width: 15.9375rem;
    height: 15.9375rem;
  }
}
@media (width <= 89.99875rem) {
  .about-me__post-image-wrapper {
    width: 18.125rem;
    height: 18.125rem;
  }
}
.about-me__post-info {
  color: var(--color-grey-dark);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.about-me__post-info span {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: var(--color-lavender);
}
.about-me__post-info p {
  max-width: 25rem;
}
.about-me__post-info p strong {
  color: var(--color-black);
}
.about-me__post-info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 33.5625rem;
}
@media (width <= 89.99875rem) {
  .about-me__post-info-wrapper {
    width: 28.125rem;
    row-gap: 2.5rem;
  }
}
.about-me__experience-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2.5rem;
  row-gap: 5rem;
}
@media (width <= 89.99875rem) {
  .about-me__experience-wrapper {
    flex-direction: column;
  }
}

.interests {
  display: flex;
  flex-direction: column;
  row-gap: 2.75rem;
}
.interests__list {
  width: 22.75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: 2.75rem;
}
@media (width <= 47.99875rem) {
  .interests__list {
    width: 100%;
    min-width: 15.375rem;
  }
}
.interests__card {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 1rem;
}
.interests__card-icon {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-lavender);
  border: 0.125rem solid var(--color-lavender);
  border-radius: 50%;
}
.interests__card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
}
.interests__card-subtitle {
  font-weight: 600;
}

.experience {
  width: 100%;
  max-width: 33.5625rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2.75rem;
}
@media (width <= 47.99875rem) {
  .experience {
    min-width: 18.125rem;
  }
}
.experience__list {
  width: 100%;
  min-width: 31.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .experience__list {
    min-width: 18.125rem;
  }
}
.experience__item:not(:last-child) {
  border-bottom: 0.0625rem solid var(--color-grey-dark-light);
}
@media (width <= 89.99875rem) {
  .experience__item:not(:last-child) {
    width: calc(100vw - 170px);
  }
}
@media (width <= 63.99875rem) {
  .experience__item:not(:last-child) {
    width: calc(100vw - 80px);
  }
}
@media (width <= 47.99875rem) {
  .experience__item:not(:last-child) {
    width: calc(100vw - 30px);
  }
}
.experience__card {
  width: 100%;
  height: 6.25rem;
  display: flex;
  align-items: start;
  justify-content: start;
  column-gap: 1rem;
}
.experience__card-date-wrapper {
  width: 9.5rem;
  height: 1.875rem;
}
.experience__card-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.experience__card-post {
  font-weight: 600;
}

.email {
  padding-block: 4.375rem;
  background: red url("../../images/background-Myimage.png") center/cover no-repeat;
}
.email__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email__inner-wrapper {
  width: 100%;
  max-width: 47.75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 3rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--color-light);
}
@media (width <= 29.99875rem) {
  .email__inner-wrapper {
    padding-inline: 0.3125rem;
  }
}
.email__title {
  text-align: center;
}
@media (width <= 29.99875rem) {
  .email__title {
    width: 100%;
  }
}
@media (width <= 29.99875rem) {
  .email__button-wrapper {
    padding-inline: 1rem;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}
@media (width <= 29.99875rem) {
  .form {
    padding-inline: 1rem;
  }
}
.form__wrapper-for-inputs {
  width: 100%;
  display: flex;
  row-gap: 1.5rem;
  column-gap: 1.25rem;
}
@media (width <= 63.99875rem) {
  .form__wrapper-for-inputs {
    flex-direction: column;
  }
}
.form__input {
  width: 100%;
  height: var(--input-base-height);
  padding: var(--input-base-padding);
  outline-color: var(--color-lavender);
  border-radius: 1rem;
  border: 0.0625rem solid var(--color-grey-dark-light);
}
.form__input-before {
  position: relative;
}
.form__input-before::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  position: absolute;
  top: 0.9375rem;
  left: 1.25rem;
  background: url("../../icons/profile.svg") center/cover no-repeat;
}
.form__input-after {
  position: relative;
}
.form__input-after::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  position: absolute;
  top: 0.9375rem;
  left: 1.25rem;
  background: url("../../icons/email.svg") center/cover no-repeat;
}
@media (width <= 47.99875rem) {
  .form__input::placeholder {
    font-size: 0.875rem;
  }
}
.form__input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.form__wrapper-for-textarea {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.form__textarea {
  width: 100%;
  height: var(--textarea-base-height);
  padding: var(--textarea-base-padding);
  resize: none;
  outline-color: var(--color-lavender);
  border-radius: 1rem;
  border: 0.0625rem solid var(--color-grey-dark-light);
}
@media (width <= 47.99875rem) {
  .form__textarea::placeholder {
    font-size: 0.875rem;
  }
}

.footer {
  padding-block: 1.75rem;
  display: flex;
}
.footer__text {
  color: var(--color-grey-dark);
  align-self: start;
}

/*# sourceMappingURL=main.css.map */
